--
-- PostgreSQL database dump
--

\restrict 2Zbhqny5ijqLmjXMHcJw60FiHa4tU7KeoxsUX0yZpbGxdKMMrB4OJcFoxZ0ySO2

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."TourRequest" DROP CONSTRAINT IF EXISTS "TourRequest_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."TourRequest" DROP CONSTRAINT IF EXISTS "TourRequest_buyerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_reviewerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_agentId_fkey";
ALTER TABLE IF EXISTS ONLY public."PropertyMedia" DROP CONSTRAINT IF EXISTS "PropertyMedia_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListing" DROP CONSTRAINT IF EXISTS "PropertyListing_propertyTypeId_fkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListing" DROP CONSTRAINT IF EXISTS "PropertyListing_geoCategoryId_fkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListing" DROP CONSTRAINT IF EXISTS "PropertyListing_agentId_fkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListingReview" DROP CONSTRAINT IF EXISTS "PropertyListingReview_reviewerId_fkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListingReview" DROP CONSTRAINT IF EXISTS "PropertyListingReview_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."PasswordResetToken" DROP CONSTRAINT IF EXISTS "PasswordResetToken_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."NotificationSubscription" DROP CONSTRAINT IF EXISTS "NotificationSubscription_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."NotificationSubscription" DROP CONSTRAINT IF EXISTS "NotificationSubscription_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."NotificationEvent" DROP CONSTRAINT IF EXISTS "NotificationEvent_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."NotificationEvent" DROP CONSTRAINT IF EXISTS "NotificationEvent_createdById_fkey";
ALTER TABLE IF EXISTS ONLY public."Message" DROP CONSTRAINT IF EXISTS "Message_threadId_fkey";
ALTER TABLE IF EXISTS ONLY public."Message" DROP CONSTRAINT IF EXISTS "Message_senderId_fkey";
ALTER TABLE IF EXISTS ONLY public."Message" DROP CONSTRAINT IF EXISTS "Message_recipientId_fkey";
ALTER TABLE IF EXISTS ONLY public."MessageThread" DROP CONSTRAINT IF EXISTS "MessageThread_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."MessageThread" DROP CONSTRAINT IF EXISTS "MessageThread_inquiryId_fkey";
ALTER TABLE IF EXISTS ONLY public."ListingRevision" DROP CONSTRAINT IF EXISTS "ListingRevision_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."ListingModerationAction" DROP CONSTRAINT IF EXISTS "ListingModerationAction_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."ListingModerationAction" DROP CONSTRAINT IF EXISTS "ListingModerationAction_actedById_fkey";
ALTER TABLE IF EXISTS ONLY public."LicenseDocument" DROP CONSTRAINT IF EXISTS "LicenseDocument_applicationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Inquiry" DROP CONSTRAINT IF EXISTS "Inquiry_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."Inquiry" DROP CONSTRAINT IF EXISTS "Inquiry_buyerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Favorite" DROP CONSTRAINT IF EXISTS "Favorite_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."Favorite" DROP CONSTRAINT IF EXISTS "Favorite_listingId_fkey";
ALTER TABLE IF EXISTS ONLY public."AgentApplication" DROP CONSTRAINT IF EXISTS "AgentApplication_applicantId_fkey";
DROP INDEX IF EXISTS public."User_role_idx";
DROP INDEX IF EXISTS public."User_isVerified_idx";
DROP INDEX IF EXISTS public."User_isActive_idx";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."TourRequest_listingId_status_idx";
DROP INDEX IF EXISTS public."TourRequest_buyerId_idx";
DROP INDEX IF EXISTS public."Review_reviewerId_idx";
DROP INDEX IF EXISTS public."Review_reviewerId_agentId_key";
DROP INDEX IF EXISTS public."Review_agentId_idx";
DROP INDEX IF EXISTS public."PropertyType_name_key";
DROP INDEX IF EXISTS public."PropertyMedia_listingId_idx";
DROP INDEX IF EXISTS public."PropertyListing_status_price_idx";
DROP INDEX IF EXISTS public."PropertyListing_status_location_idx";
DROP INDEX IF EXISTS public."PropertyListing_status_idx";
DROP INDEX IF EXISTS public."PropertyListing_propertyTypeId_idx";
DROP INDEX IF EXISTS public."PropertyListing_location_idx";
DROP INDEX IF EXISTS public."PropertyListing_isDeleted_idx";
DROP INDEX IF EXISTS public."PropertyListing_geoCategoryId_idx";
DROP INDEX IF EXISTS public."PropertyListing_agentId_idx";
DROP INDEX IF EXISTS public."PropertyListingReview_listingId_reviewerId_key";
DROP INDEX IF EXISTS public."PropertyListingReview_listingId_createdAt_idx";
DROP INDEX IF EXISTS public."PasswordResetToken_userId_expiresAt_idx";
DROP INDEX IF EXISTS public."NotificationSubscription_userId_listingId_key";
DROP INDEX IF EXISTS public."NotificationSubscription_listingId_idx";
DROP INDEX IF EXISTS public."NotificationEvent_listingId_createdAt_idx";
DROP INDEX IF EXISTS public."Message_threadId_createdAt_idx";
DROP INDEX IF EXISTS public."Message_recipientId_createdAt_idx";
DROP INDEX IF EXISTS public."MessageThread_inquiryId_key";
DROP INDEX IF EXISTS public."ListingRevision_listingId_createdAt_idx";
DROP INDEX IF EXISTS public."ListingModerationAction_listingId_createdAt_idx";
DROP INDEX IF EXISTS public."ListingModerationAction_actedById_idx";
DROP INDEX IF EXISTS public."LicenseDocument_applicationId_idx";
DROP INDEX IF EXISTS public."Inquiry_listingId_idx";
DROP INDEX IF EXISTS public."Inquiry_listingId_createdAt_idx";
DROP INDEX IF EXISTS public."Inquiry_createdAt_idx";
DROP INDEX IF EXISTS public."Inquiry_buyerId_idx";
DROP INDEX IF EXISTS public."GeoCategory_name_key";
DROP INDEX IF EXISTS public."Favorite_userId_listingId_key";
DROP INDEX IF EXISTS public."Favorite_listingId_idx";
DROP INDEX IF EXISTS public."CmsBanner_isActive_sortOrder_idx";
DROP INDEX IF EXISTS public."AgentApplication_status_idx";
DROP INDEX IF EXISTS public."AgentApplication_applicantId_idx";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."TourRequest" DROP CONSTRAINT IF EXISTS "TourRequest_pkey";
ALTER TABLE IF EXISTS ONLY public."Review" DROP CONSTRAINT IF EXISTS "Review_pkey";
ALTER TABLE IF EXISTS ONLY public."PropertyType" DROP CONSTRAINT IF EXISTS "PropertyType_pkey";
ALTER TABLE IF EXISTS ONLY public."PropertyMedia" DROP CONSTRAINT IF EXISTS "PropertyMedia_pkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListing" DROP CONSTRAINT IF EXISTS "PropertyListing_pkey";
ALTER TABLE IF EXISTS ONLY public."PropertyListingReview" DROP CONSTRAINT IF EXISTS "PropertyListingReview_pkey";
ALTER TABLE IF EXISTS ONLY public."PasswordResetToken" DROP CONSTRAINT IF EXISTS "PasswordResetToken_pkey";
ALTER TABLE IF EXISTS ONLY public."NotificationSubscription" DROP CONSTRAINT IF EXISTS "NotificationSubscription_pkey";
ALTER TABLE IF EXISTS ONLY public."NotificationEvent" DROP CONSTRAINT IF EXISTS "NotificationEvent_pkey";
ALTER TABLE IF EXISTS ONLY public."Message" DROP CONSTRAINT IF EXISTS "Message_pkey";
ALTER TABLE IF EXISTS ONLY public."MessageThread" DROP CONSTRAINT IF EXISTS "MessageThread_pkey";
ALTER TABLE IF EXISTS ONLY public."ListingRevision" DROP CONSTRAINT IF EXISTS "ListingRevision_pkey";
ALTER TABLE IF EXISTS ONLY public."ListingModerationAction" DROP CONSTRAINT IF EXISTS "ListingModerationAction_pkey";
ALTER TABLE IF EXISTS ONLY public."LicenseDocument" DROP CONSTRAINT IF EXISTS "LicenseDocument_pkey";
ALTER TABLE IF EXISTS ONLY public."Inquiry" DROP CONSTRAINT IF EXISTS "Inquiry_pkey";
ALTER TABLE IF EXISTS ONLY public."GeoCategory" DROP CONSTRAINT IF EXISTS "GeoCategory_pkey";
ALTER TABLE IF EXISTS ONLY public."Favorite" DROP CONSTRAINT IF EXISTS "Favorite_pkey";
ALTER TABLE IF EXISTS ONLY public."CmsBanner" DROP CONSTRAINT IF EXISTS "CmsBanner_pkey";
ALTER TABLE IF EXISTS ONLY public."AgentApplication" DROP CONSTRAINT IF EXISTS "AgentApplication_pkey";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."TourRequest";
DROP TABLE IF EXISTS public."Review";
DROP TABLE IF EXISTS public."PropertyType";
DROP TABLE IF EXISTS public."PropertyMedia";
DROP TABLE IF EXISTS public."PropertyListingReview";
DROP TABLE IF EXISTS public."PropertyListing";
DROP TABLE IF EXISTS public."PasswordResetToken";
DROP TABLE IF EXISTS public."NotificationSubscription";
DROP TABLE IF EXISTS public."NotificationEvent";
DROP TABLE IF EXISTS public."MessageThread";
DROP TABLE IF EXISTS public."Message";
DROP TABLE IF EXISTS public."ListingRevision";
DROP TABLE IF EXISTS public."ListingModerationAction";
DROP TABLE IF EXISTS public."LicenseDocument";
DROP TABLE IF EXISTS public."Inquiry";
DROP TABLE IF EXISTS public."GeoCategory";
DROP TABLE IF EXISTS public."Favorite";
DROP TABLE IF EXISTS public."CmsBanner";
DROP TABLE IF EXISTS public."AgentApplication";
DROP TYPE IF EXISTS public."UserRole";
DROP TYPE IF EXISTS public."TourRequestStatus";
DROP TYPE IF EXISTS public."ListingStatus";
DROP TYPE IF EXISTS public."InquiryStatus";
DROP TYPE IF EXISTS public."AgentApplicationStatus";
--
-- Name: AgentApplicationStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."AgentApplicationStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


--
-- Name: InquiryStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."InquiryStatus" AS ENUM (
    'OPEN',
    'ANSWERED',
    'RESOLVED'
);


--
-- Name: ListingStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ListingStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'SOLD',
    'DRAFT'
);


--
-- Name: TourRequestStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."TourRequestStatus" AS ENUM (
    'REQUESTED',
    'CONFIRMED',
    'DECLINED'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'AGENT',
    'USER'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AgentApplication; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AgentApplication" (
    id text NOT NULL,
    "applicantId" text NOT NULL,
    status public."AgentApplicationStatus" DEFAULT 'PENDING'::public."AgentApplicationStatus" NOT NULL,
    notes text,
    "reviewedById" text,
    "reviewedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CmsBanner; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CmsBanner" (
    id text NOT NULL,
    title text NOT NULL,
    "imageUrl" text NOT NULL,
    "ctaText" text,
    "ctaUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Favorite; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Favorite" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "listingId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: GeoCategory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GeoCategory" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Inquiry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Inquiry" (
    id text NOT NULL,
    message text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "buyerId" text NOT NULL,
    "listingId" text NOT NULL,
    status public."InquiryStatus" DEFAULT 'OPEN'::public."InquiryStatus" NOT NULL
);


--
-- Name: LicenseDocument; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."LicenseDocument" (
    id text NOT NULL,
    "applicationId" text NOT NULL,
    "fileUrl" text NOT NULL,
    "mimeType" text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: ListingModerationAction; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ListingModerationAction" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "actedById" text NOT NULL,
    action text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: ListingRevision; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ListingRevision" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "changedById" text NOT NULL,
    "changedFields" jsonb NOT NULL,
    "triggersReview" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "threadId" text NOT NULL,
    "senderId" text NOT NULL,
    "recipientId" text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: MessageThread; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."MessageThread" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "inquiryId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: NotificationEvent; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."NotificationEvent" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "createdById" text,
    "eventType" text NOT NULL,
    payload jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: NotificationSubscription; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."NotificationSubscription" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "listingId" text NOT NULL,
    "onPriceDrop" boolean DEFAULT true NOT NULL,
    "onStatusChange" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: PasswordResetToken; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PasswordResetToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: PropertyListing; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PropertyListing" (
    id text NOT NULL,
    price numeric(12,2) NOT NULL,
    location text NOT NULL,
    "zipCode" text,
    lat double precision,
    lng double precision,
    description text NOT NULL,
    status public."ListingStatus" DEFAULT 'PENDING'::public."ListingStatus" NOT NULL,
    "agentId" text NOT NULL,
    "propertyTypeId" text,
    "geoCategoryId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    bathrooms double precision,
    bedrooms integer,
    "squareFeet" integer,
    "deletedAt" timestamp(3) without time zone,
    "isDeleted" boolean DEFAULT false NOT NULL
);


--
-- Name: PropertyListingReview; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PropertyListingReview" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "reviewerId" text NOT NULL,
    rating smallint NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: PropertyMedia; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PropertyMedia" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "mediaUrl" text NOT NULL,
    "mediaType" text NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: PropertyType; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PropertyType" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Review; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Review" (
    id text NOT NULL,
    rating smallint NOT NULL,
    "reviewerId" text NOT NULL,
    "agentId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: TourRequest; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."TourRequest" (
    id text NOT NULL,
    "listingId" text NOT NULL,
    "buyerId" text NOT NULL,
    "preferredTime" timestamp(3) without time zone NOT NULL,
    status public."TourRequestStatus" DEFAULT 'REQUESTED'::public."TourRequestStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    "isVerified" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "deactivatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    bio text,
    "contactEmail" text,
    "fullName" text,
    "licenseExpirationDate" timestamp(3) without time zone,
    "licenseNumber" text,
    "phoneNumber" text,
    "profilePictureUrl" text
);


--
-- Data for Name: AgentApplication; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: CmsBanner; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CmsBanner" (id, title, "imageUrl", "ctaText", "ctaUrl", "isActive", "sortOrder", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Favorite; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Favorite" (id, "userId", "listingId", "createdAt") FROM stdin;
\.


--
-- Data for Name: GeoCategory; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."GeoCategory" (id, name, "createdAt") FROM stdin;
cmo8avlby000cubpswoi2rv2r	Metro	2026-04-21 07:26:25.727
\.


--
-- Data for Name: Inquiry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Inquiry" (id, message, "createdAt", "buyerId", "listingId", status) FROM stdin;
\.


--
-- Data for Name: LicenseDocument; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ListingModerationAction; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ListingRevision; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ListingRevision" (id, "listingId", "changedById", "changedFields", "triggersReview", "createdAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Message" (id, "threadId", "senderId", "recipientId", content, "createdAt") FROM stdin;
\.


--
-- Data for Name: MessageThread; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."MessageThread" (id, "listingId", "inquiryId", "createdAt") FROM stdin;
\.


--
-- Data for Name: NotificationEvent; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: NotificationSubscription; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."NotificationSubscription" (id, "userId", "listingId", "onPriceDrop", "onStatusChange", "createdAt") FROM stdin;
\.


--
-- Data for Name: PasswordResetToken; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PropertyListing; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PropertyListingReview; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."PropertyListingReview" (id, "listingId", "reviewerId", rating, comment, "createdAt") FROM stdin;
\.


--
-- Data for Name: PropertyMedia; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PropertyType; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."PropertyType" (id, name, "createdAt") FROM stdin;
cmo8avlbd0008ubpst0ynb7af	House	2026-04-21 07:26:25.705
cmo8avlbo0009ubpssa59suhr	Land	2026-04-21 07:26:25.705
cmo8avlbr000aubpsgh5sbdiu	Townhouse	2026-04-21 07:26:25.705
cmo8avlbr000bubpsl8kd8caw	Condo	2026-04-21 07:26:25.705
\.


--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Review" (id, rating, "reviewerId", "agentId", "createdAt") FROM stdin;
\.


--
-- Data for Name: TourRequest; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."TourRequest" (id, "listingId", "buyerId", "preferredTime", status, "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: AgentApplication AgentApplication_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AgentApplication"
    ADD CONSTRAINT "AgentApplication_pkey" PRIMARY KEY (id);


--
-- Name: CmsBanner CmsBanner_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CmsBanner"
    ADD CONSTRAINT "CmsBanner_pkey" PRIMARY KEY (id);


--
-- Name: Favorite Favorite_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Favorite"
    ADD CONSTRAINT "Favorite_pkey" PRIMARY KEY (id);


--
-- Name: GeoCategory GeoCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GeoCategory"
    ADD CONSTRAINT "GeoCategory_pkey" PRIMARY KEY (id);


--
-- Name: Inquiry Inquiry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_pkey" PRIMARY KEY (id);


--
-- Name: LicenseDocument LicenseDocument_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."LicenseDocument"
    ADD CONSTRAINT "LicenseDocument_pkey" PRIMARY KEY (id);


--
-- Name: ListingModerationAction ListingModerationAction_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ListingModerationAction"
    ADD CONSTRAINT "ListingModerationAction_pkey" PRIMARY KEY (id);


--
-- Name: ListingRevision ListingRevision_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ListingRevision"
    ADD CONSTRAINT "ListingRevision_pkey" PRIMARY KEY (id);


--
-- Name: MessageThread MessageThread_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MessageThread"
    ADD CONSTRAINT "MessageThread_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: NotificationEvent NotificationEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NotificationEvent"
    ADD CONSTRAINT "NotificationEvent_pkey" PRIMARY KEY (id);


--
-- Name: NotificationSubscription NotificationSubscription_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NotificationSubscription"
    ADD CONSTRAINT "NotificationSubscription_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY (id);


--
-- Name: PropertyListingReview PropertyListingReview_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListingReview"
    ADD CONSTRAINT "PropertyListingReview_pkey" PRIMARY KEY (id);


--
-- Name: PropertyListing PropertyListing_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListing"
    ADD CONSTRAINT "PropertyListing_pkey" PRIMARY KEY (id);


--
-- Name: PropertyMedia PropertyMedia_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyMedia"
    ADD CONSTRAINT "PropertyMedia_pkey" PRIMARY KEY (id);


--
-- Name: PropertyType PropertyType_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyType"
    ADD CONSTRAINT "PropertyType_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: TourRequest TourRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TourRequest"
    ADD CONSTRAINT "TourRequest_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: AgentApplication_applicantId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AgentApplication_applicantId_idx" ON public."AgentApplication" USING btree ("applicantId");


--
-- Name: AgentApplication_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AgentApplication_status_idx" ON public."AgentApplication" USING btree (status);


--
-- Name: CmsBanner_isActive_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CmsBanner_isActive_sortOrder_idx" ON public."CmsBanner" USING btree ("isActive", "sortOrder");


--
-- Name: Favorite_listingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Favorite_listingId_idx" ON public."Favorite" USING btree ("listingId");


--
-- Name: Favorite_userId_listingId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Favorite_userId_listingId_key" ON public."Favorite" USING btree ("userId", "listingId");


--
-- Name: GeoCategory_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "GeoCategory_name_key" ON public."GeoCategory" USING btree (name);


--
-- Name: Inquiry_buyerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Inquiry_buyerId_idx" ON public."Inquiry" USING btree ("buyerId");


--
-- Name: Inquiry_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Inquiry_createdAt_idx" ON public."Inquiry" USING btree ("createdAt");


--
-- Name: Inquiry_listingId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Inquiry_listingId_createdAt_idx" ON public."Inquiry" USING btree ("listingId", "createdAt");


--
-- Name: Inquiry_listingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Inquiry_listingId_idx" ON public."Inquiry" USING btree ("listingId");


--
-- Name: LicenseDocument_applicationId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "LicenseDocument_applicationId_idx" ON public."LicenseDocument" USING btree ("applicationId");


--
-- Name: ListingModerationAction_actedById_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ListingModerationAction_actedById_idx" ON public."ListingModerationAction" USING btree ("actedById");


--
-- Name: ListingModerationAction_listingId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ListingModerationAction_listingId_createdAt_idx" ON public."ListingModerationAction" USING btree ("listingId", "createdAt");


--
-- Name: ListingRevision_listingId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ListingRevision_listingId_createdAt_idx" ON public."ListingRevision" USING btree ("listingId", "createdAt");


--
-- Name: MessageThread_inquiryId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "MessageThread_inquiryId_key" ON public."MessageThread" USING btree ("inquiryId");


--
-- Name: Message_recipientId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Message_recipientId_createdAt_idx" ON public."Message" USING btree ("recipientId", "createdAt");


--
-- Name: Message_threadId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Message_threadId_createdAt_idx" ON public."Message" USING btree ("threadId", "createdAt");


--
-- Name: NotificationEvent_listingId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "NotificationEvent_listingId_createdAt_idx" ON public."NotificationEvent" USING btree ("listingId", "createdAt");


--
-- Name: NotificationSubscription_listingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "NotificationSubscription_listingId_idx" ON public."NotificationSubscription" USING btree ("listingId");


--
-- Name: NotificationSubscription_userId_listingId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "NotificationSubscription_userId_listingId_key" ON public."NotificationSubscription" USING btree ("userId", "listingId");


--
-- Name: PasswordResetToken_userId_expiresAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PasswordResetToken_userId_expiresAt_idx" ON public."PasswordResetToken" USING btree ("userId", "expiresAt");


--
-- Name: PropertyListingReview_listingId_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListingReview_listingId_createdAt_idx" ON public."PropertyListingReview" USING btree ("listingId", "createdAt");


--
-- Name: PropertyListingReview_listingId_reviewerId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PropertyListingReview_listingId_reviewerId_key" ON public."PropertyListingReview" USING btree ("listingId", "reviewerId");


--
-- Name: PropertyListing_agentId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_agentId_idx" ON public."PropertyListing" USING btree ("agentId");


--
-- Name: PropertyListing_geoCategoryId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_geoCategoryId_idx" ON public."PropertyListing" USING btree ("geoCategoryId");


--
-- Name: PropertyListing_isDeleted_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_isDeleted_idx" ON public."PropertyListing" USING btree ("isDeleted");


--
-- Name: PropertyListing_location_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_location_idx" ON public."PropertyListing" USING btree (location);


--
-- Name: PropertyListing_propertyTypeId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_propertyTypeId_idx" ON public."PropertyListing" USING btree ("propertyTypeId");


--
-- Name: PropertyListing_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_status_idx" ON public."PropertyListing" USING btree (status);


--
-- Name: PropertyListing_status_location_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_status_location_idx" ON public."PropertyListing" USING btree (status, location);


--
-- Name: PropertyListing_status_price_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyListing_status_price_idx" ON public."PropertyListing" USING btree (status, price);


--
-- Name: PropertyMedia_listingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "PropertyMedia_listingId_idx" ON public."PropertyMedia" USING btree ("listingId");


--
-- Name: PropertyType_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PropertyType_name_key" ON public."PropertyType" USING btree (name);


--
-- Name: Review_agentId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Review_agentId_idx" ON public."Review" USING btree ("agentId");


--
-- Name: Review_reviewerId_agentId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Review_reviewerId_agentId_key" ON public."Review" USING btree ("reviewerId", "agentId");


--
-- Name: Review_reviewerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Review_reviewerId_idx" ON public."Review" USING btree ("reviewerId");


--
-- Name: TourRequest_buyerId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "TourRequest_buyerId_idx" ON public."TourRequest" USING btree ("buyerId");


--
-- Name: TourRequest_listingId_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "TourRequest_listingId_status_idx" ON public."TourRequest" USING btree ("listingId", status);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "User_isActive_idx" ON public."User" USING btree ("isActive");


--
-- Name: User_isVerified_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "User_isVerified_idx" ON public."User" USING btree ("isVerified");


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: AgentApplication AgentApplication_applicantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AgentApplication"
    ADD CONSTRAINT "AgentApplication_applicantId_fkey" FOREIGN KEY ("applicantId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Favorite Favorite_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Favorite"
    ADD CONSTRAINT "Favorite_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Favorite Favorite_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Favorite"
    ADD CONSTRAINT "Favorite_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Inquiry Inquiry_buyerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_buyerId_fkey" FOREIGN KEY ("buyerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Inquiry Inquiry_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LicenseDocument LicenseDocument_applicationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."LicenseDocument"
    ADD CONSTRAINT "LicenseDocument_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES public."AgentApplication"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ListingModerationAction ListingModerationAction_actedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ListingModerationAction"
    ADD CONSTRAINT "ListingModerationAction_actedById_fkey" FOREIGN KEY ("actedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ListingModerationAction ListingModerationAction_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ListingModerationAction"
    ADD CONSTRAINT "ListingModerationAction_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ListingRevision ListingRevision_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ListingRevision"
    ADD CONSTRAINT "ListingRevision_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MessageThread MessageThread_inquiryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MessageThread"
    ADD CONSTRAINT "MessageThread_inquiryId_fkey" FOREIGN KEY ("inquiryId") REFERENCES public."Inquiry"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MessageThread MessageThread_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."MessageThread"
    ADD CONSTRAINT "MessageThread_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_recipientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_threadId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES public."MessageThread"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NotificationEvent NotificationEvent_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NotificationEvent"
    ADD CONSTRAINT "NotificationEvent_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: NotificationEvent NotificationEvent_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NotificationEvent"
    ADD CONSTRAINT "NotificationEvent_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NotificationSubscription NotificationSubscription_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NotificationSubscription"
    ADD CONSTRAINT "NotificationSubscription_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NotificationSubscription NotificationSubscription_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."NotificationSubscription"
    ADD CONSTRAINT "NotificationSubscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PasswordResetToken PasswordResetToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PropertyListingReview PropertyListingReview_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListingReview"
    ADD CONSTRAINT "PropertyListingReview_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PropertyListingReview PropertyListingReview_reviewerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListingReview"
    ADD CONSTRAINT "PropertyListingReview_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PropertyListing PropertyListing_agentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListing"
    ADD CONSTRAINT "PropertyListing_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PropertyListing PropertyListing_geoCategoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListing"
    ADD CONSTRAINT "PropertyListing_geoCategoryId_fkey" FOREIGN KEY ("geoCategoryId") REFERENCES public."GeoCategory"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PropertyListing PropertyListing_propertyTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyListing"
    ADD CONSTRAINT "PropertyListing_propertyTypeId_fkey" FOREIGN KEY ("propertyTypeId") REFERENCES public."PropertyType"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PropertyMedia PropertyMedia_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PropertyMedia"
    ADD CONSTRAINT "PropertyMedia_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_agentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_agentId_fkey" FOREIGN KEY ("agentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Review Review_reviewerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TourRequest TourRequest_buyerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TourRequest"
    ADD CONSTRAINT "TourRequest_buyerId_fkey" FOREIGN KEY ("buyerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TourRequest TourRequest_listingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."TourRequest"
    ADD CONSTRAINT "TourRequest_listingId_fkey" FOREIGN KEY ("listingId") REFERENCES public."PropertyListing"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 2Zbhqny5ijqLmjXMHcJw60FiHa4tU7KeoxsUX0yZpbGxdKMMrB4OJcFoxZ0ySO2

